     * {
          margin: 0;   
        }
        
     body {
           color: white;
           font-family: Consolas;
       }
       
       
       header {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 70px;
          background: rgba(51, 51, 255, 0.3); /* Semi-transparent background */
          backdrop-filter: blur(10px);
          text-align: center;
          font-size: 1rem;
          z-index: 10;
    }
     
     
     h1 {
           margin-top: 20px;
       }
       
      .signin{
          position: relative;
          margin-right: 80px ;
          text-align: right;
      }
       
       
       .reset-button {
            background-color: #433878; /* Green background */
            color: white;              /* White text */
            padding: 10px 20px;        /* Spacing around the text */
            border: none;              /* No border */
            border-radius: 15px;        /* Rounded corners */
            font-size: 16px;           /* Font size */
            cursor: pointer;           /* Pointer cursor on hover */
            transition: background-color 0.3s ease; /* Smooth hover effect */
        }
       
       .submit-button {
            background-color: #7E60BF; /* Green background */
            color: white;              /* White text */
            padding: 10px 20px;        /* Spacing around the text */
            border-color: white;          /* No border */
            border-radius: 15px;        /* Rounded corners */
            font-size: 16px;           /* Font size */
            cursor: pointer;           /* Pointer cursor on hover */
            transition: background-color 0.3s ease; /* Smooth hover effect */
            margin-left: 6px;
        }
        
        .sign-button {
            width: 150px;
            background-color: #7E60BF; /* Green background */
            color: white;              /* White text */
            padding: 10px 20px;        /* Spacing around the text */
            
            border-color: white;           /* No border */
            border-radius: 15px;        /* Rounded corners */
            font-size: 16px;           /* Font size */
            cursor: pointer;           /* Pointer cursor on hover */
            transition: background-color 0.3s ease; /* Smooth hover effect */
           
            
        }
       
       

      .background {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin-top: 0px;
                background-image: url("background.jpg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
               
                z-index: -1;
            }
            
    
    div {
        margin-top: 20px;
    }
          
      .content {
                position: relative;
                z-index: 1;
                margin-top:100px;
                background: linear-gradient(to top, black, rgba(255, 255, 255, 0)); /* Fade effect at the top */
                height: 160vh;
            }
       
      
       
       a {
           color: pink;
       }
       
       
      .glass-table {
            width: 95%;
            height: auto;
            margin: auto;
            border-collapse: collapse;
            background: rgba(255, 225, 255, 0.3); /* Semi-transparent white */
            backdrop-filter: blur(8px); /* Frosted glass effect */
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
            overflow: hidden; /* To apply border radius to all table cells */
     
     th, td {
            padding: 20px; /* Space around text */
            font-size: 20px;
            width:50%;
        }
        
     th {
           padding: 8px;
           font-size: 16px;
           text-align: center;
           backdrop-filter: blur(90px);
      }
     
    
    
    input:focus {
          outline-color: violet ;
        }
    select:focus {
          outline-color: violet ;
        }
    textarea:focus {
          outline-color: violet ;
        }